:host {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--primary-border-color);

  header {
    padding: 0.7rem;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: var(--wide-width);

    nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}
