:host {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--primary-border-color);
  position: sticky;
  top: 0;
  background-color: white;
  filter: drop-shadow(0 0 0.2rem var(--primary-border-color));
  z-index: 1;

  header {
    padding: 0.7rem;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: var(--wide-width);

    nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}
