<div class="hero-container">
  <h1>Welcome to Patras.pay</h1>
  <img src="../../../assets/payment_photo_medium.jpg" />
  <h2>
    The Ultimate App for Paying at Shops and Earning Cashback Coin Credits
  </h2>
</div>
<p>
  With Patras.pay, you can conveniently pay at your favorite shops using your
  phone, while also earning cashback in the form of coin credits with every
  purchase. These coin credits can be redeemed in your next purchases.
</p>
<app-features />
<div class="join">
  <p-button label="Join" [routerLink]="['/login']" />
</div>
<br />
<a routerLink="/shopProfile"> shoper profile</a>
<br />
<a routerLink="/profile">Payer Profile</a>
