div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: aqua;
}

.button-container button {
    width: 270px; /* Καθορίζει το πλάτος των κουμπιών */
    height: 50px; /* Καθορίζει το ύψος των κουμπιών */
    padding: 10px; /* Προσθέτει εσωτερικό κενό */
    box-sizing: border-box; /* Εξασφαλίζει ότι το padding δεν αλλάζει το συνολικό μέγεθος */
    margin: 0; /* Αφαιρεί οποιοδήποτε προεπιλεγμένο εξωτερικό περιθώριο */
}

:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;

    form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.4rem;
  }
}