<div class="history">
  <p-table [value]="transactionsProv" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Shop Name</th>
        <th>Payer Name</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.toId }}</td>
        <td>{{ transaction.fromId }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.date }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
