<div class="history">
  <!-- <p-calendar 
        [(ngModel)]="rangeDates" 
        selectionMode="range" 
        [readonlyInput]="true" />  -->
  <p-table [value]="transactions" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Payer Name</th>
        <th>Amount</th>
        <th>Fee</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.fromId }}</td>
        <td>{{ transaction.amount }} ¤</td>
        <td>{{ transaction.amount * 0.02 }} ¤</td>
      </tr>
    </ng-template>
  </p-table>
</div>
