<div class="signup">
 <app-box [title]="'Update user info'">
        <form>
            <p-floatLabel>
                <input pInputText id="shopName" />
                <label for="shopName">Edit shop Name</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText id="email" />
                <label for="email">Edit email</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText id="password" />
                <label for="password">Edit password</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText id="passwordConfirm" />
                <label for="passwordConfirm">Confirm password</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText id="VATcode" />
                <label for="VATcode">Edit VAT code</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText id="address" />
                <label for="address">Edit address</label>
            </p-floatLabel>
            <p-button label="Save updates" />
        </form>
    </app-box>
</div>