/* You can add global styles to this file, and also import other style files */
@layer reset, primeng;

:root {
  all: unset;
  all: initial;
  --primary-border-color: rgb(190, 190, 190);
  --small-border-radius: 3%;
  --medium-border-radius: 16px;
  --large-border-radius: 50%;
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
}

header {
  flex: 0 0 auto;
}
main {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}
